extends layout

block content
  section.user__action__wrapper
    h2.user__action__title Login
    form.user__form(action="/api/users/login" method="POST")
      fieldset.user__form__fieldset
        label.user__form__label(for="username") Username
          input.user__form__input(type="text" name="username" required)
        label.user__form__label(for="password") Password
          input.user__form__input(type="password" name="password" required)
        input.user__form__submit(type="submit" value="Let's go")

    hr.user__form__divider

    a.user__form__link(href="/api/users/register" target="_self" rel="noreferrer") Sign Up