extends layout

block content
  section.user__action__wrapper
    h2.user__action__title Sign up
    form.user__form(action="/api/users/register" method="POST")
      fieldset.user__form__fieldset
        label.user__form__label(for="email") Email
          input.user__form__input(type="email" name="email" required)
        label.user__form__label(for="username") Username
          input.user__form__input(type="text" name="username" minlength="6" maxlength="20" required)
        label.user__form__label(for="password") Password
          input.user__form__input(type="password" name="password" minlength="6" maxlength="20" required)
        label.user__form__label(for="password-confirm") Confirm Password
          input.user__form__input(type="password" name="password-confirm" minlength="6" maxlength="20" required)
        if hasErrors
          ul.user__form__error__list
            each error in errors
              li.user__form__input__error= error.msg
        input.user__form__submit(type="submit" value="Sign up")

    hr.user__form__divider

    a.user__form__link(href="/api/users/login" target="_self" rel="noreferrer") Log in