:root {
  --red-lightest: hsla(4, 90%, 95%, 1);
  --red-light: hsla(4, 83%, 75%, 1);
  --red-base: hsla(4, 77%, 48%, 1);
  --red-dark: hsla(4, 84%, 35%, 1);
  --red-darkest: hsla(4, 81%, 11%, 1);
  --neut-lightest: hsla(4, 15%, 98%, 1);
  --neut-lighter: hsla(4, 4%, 94%, 1);
  --neut-light: hsla(4, 4%, 82%, 1);
  --neut-base: hsla(4, 2%, 48%, 1);
  --neut-dark: hsla(4, 2%, 15%, 1);
  --neut-darkest: hsla(4, 2%, 11%, 1);
  --shadow: hsla(4, 11%, 11%, 0.2);
  --highlight: hsla(4, 15%, 98%, 0.2);
  --heading-dark: hsla(4, 2%, 11%, 1);
  --body-dark: hsla(4, 2%, 11%, 1);
  --body-light: hsla(4, 15%, 98%, 1);
  --body-light-t: hsla(4, 27%, 98%, 0.9);
  --font-style: 'Nunito', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: var(--font-body);
  background-color: var(--neut-lightest);
}

.dashboard__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* Forms */
.user__action__wrapper {
  margin: 0;
  background-color: var(--neut-lightest);
  border-radius: 5px;
  width: 425px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 4px 0px var(--shadow), 2px 2px 10px 0px var(--shadow);
}

.user__action__title {
  text-align: center;
  color: inherit;
  color: var(--body-dark);
  text-transform: uppercase;
  font-size: 42px;
  margin: 16px;
  font-family: var(--font-style);
}

.user__form {
  margin: 0;
}

.user__form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.user__form__label {
  margin: 0;
  font-size: 18px;
  color: var(--body-dark);
  font-weight: 700;
  font-family: var(--font-style);
}

.user__form__input {
  display: block;
  width: 100%;
  font-size: 18px;
  margin: 16px 0 36px 0;
  padding: 10px 6px;
  color: var(--body-dark);
  background-color: var(--neut-lightest);
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px 0px var(--neut-base), inset -1px -1px 3px 0px white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.user__form__input:focus {
  outline-color: var(--red-base);
}

.user__form__submit {
  width: 100%;
  font-size: 24px;
  font-family: var(--font-style);
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: var(--body-light);
  font-weight: 700;
  background-color: var(--red-base);
  margin: 48px auto 8px auto;
  align-self: center;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.user__form__divider {
  overflow: visible;
  padding: 0;
  margin-top: 32px;
  border: none;
  border-top: 1px solid var(--neut-light);
  text-align: center;
  width: 95%;
}

.user__form__divider:after {
  content: "Or";
  position: relative;
  top: -11px;
  padding: 0 16px;
  color: var(--body-dark);
  background: var(--neut-lightest);
}

.user__form__link {
  width: 100%;
  margin: 8px auto 24px auto;
  font-size: 24px;
  font-family: var(--font-style);
  color: var(--body-dark);
  text-decoration: none;
  align-self: center;
  text-align: center;
}